# Pandas - Übungen (1)

In [ ]:
# pandas importieren

## Übung 1: Dataframes erstellen

Die folgende Datentabelle für Lagerbestände soll bearbeitet werden:
<table>
    <tr> <th></th><th>ArtName</th><th>Category</th><th>Quantity</th> </tr>
    <tr> <td>1</td><td>Daisy</td><td>Seeds</td><td>4</td> </tr>
    <tr> <td>11</td><td>Rake</td><td>Garden tools</td><td>9</td> </tr>
    <tr> <td>21</td><td>Insect killer</td><td>Pest control</td><td>74</td> </tr>
</table>

In [ ]:
# 1.a. Eine DataFrame-Variable für die Datentabelle definieren.
# Hinweis: die Daten zuerst als Dictionary strukturieren.
dict_inv = None
# Eine Liste mit Artikel-Codes erstellen: 1, 11 und 21 
art_codes = None
# Dataframe df1 erstellen mit art_codes als index
df1 = None
df1

In [ ]:
# 1.b. Weitere Daten aus der Datei inventory.csv, in Dataframe df2 laden.
# Die erste Spalte als index einstellen.
df2 = None
#df2.head()

In [ ]:
# 1.c. Dann, die zwei DataFrames kombinieren. Hinweis: verwende die pandas concat() Methode.
df = None

In [ ]:
# 1.d. Die ersten 10 Zeilen anzeigen (Methode head())

## Übung 2: Daten selektieren, .loc und .iloc

In [ ]:
# 2.a. Selektiere die ersten 5 Zeilen

In [ ]:
# 2.b. Selektiere nur die Spalten Artkel-Name und Bestand (Menge).

In [ ]:
# Diese Zelle sortiert die DataFrame nach Index, durch sort_index().
df.sort_index(inplace=True)
df.head()

In [ ]:
# 2.c. 
# Verwende .loc um die Zeilen mit Codes (Indizes) 11 bis 13 zu selektieren (Slice).

In [ ]:
# 2.d. Verwende .loc, um nur die Spalte ArtName als Dataframe zu selektieren

In [ ]:
# 2.e. Verwende .iloc um die Zeilen mit Positionen 3, 5, 7 selektieren (Slice).

In [ ]:
# 2.f. Verwende .iloc, um die Zeilen 3 bis 7, und die erste und letzte Spalte zu selektieren

In [ ]:
'Fertig !'