## Pandas - Übungen (2): Daten selektieren (filtern), Schleifen und DataFrames

In [ ]:
# numpy und pandas importieren

## Übung 1: Zeilen selektieren (filtern)

In [ ]:
# 1.a Dataframe aus Datei 'inventory-all.csv' laden,
# erste Spalte als Index anwenden
df = None
df.head()

In [ ]:
# 1.b  Nur die Artikeln in der Kategorie "Garden tools" anzeigen.
# Var.1 : zuerst die Bedingung als Series speichern:
art_g_tools = None
art_g_tools

In [ ]:
# Dann die art_g_tools Variable verwenden, um die DF Zeilen zu selektieren

In [ ]:
# 1.c  Nur die Artikeln in der Kategorie "Garden tools" anzeigen.
# Var.2 : alles in eine Code-Zeile codieren

In [ ]:
# 1.d. Artikelname und Bestand für Artikeln mit Bestand (Menge) 
# unter 10 anzeigen (als DataFrame)

In [ ]:
# 1.e. Artikeln mit Menge (Quantity) über 50, die nicht
# zur Kategorie "Planter" gehören.
# Var. 1: mit np.logical... Funktionen

In [ ]:
# 1.e.Var. 2: Mit den logischen Operatoren &, |, ~

In [ ]:
# 1.f. Artikelnamen für Artikeln in den Kategorien Seeds und Planter
# Hinweis: verwende die Methode .isin() für Series

In [ ]:
# 1.g. Zeilen der Artikeln, die mit 'W' beginnen, anzeigen
# Hinweis: Series.str.startswith() verwenden

## Übung 2: Schleifen und DataFrame-Objekte

In [ ]:
# Dataframe aus Datei laden
df = pd.read_csv('inventory-all.csv', index_col=0)
# Daten für Einzelpreise:
einzelpreise = pd.Series([1.25,1.70,2.20,25.0,110.0,
                          29.0,10.50, 12.90,40.0, 25.0],
                          name='UnitPrice', index=df.index)
einzelpreise.head()

In [ ]:
# 2.a. Die Daten in der Series einzelpreise als neue Spalte 
# in df hinzufügen.
# Hinweis: verwende die pd.concat() Funktion.

In [ ]:
# 2.b Eine neue Spalte definieren:
# Value1 = Quantity * UnitPrice
# Var. 1: mit for-Schleife

In [ ]:
# 2.c Eine neue Spalte definieren:
# Value2 = Quantity * UnitPrice
# Var. 2: mit pandas-Syntax

In [ ]:
'Fertig !'